* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 16px; /* Adjust as necessary */
  line-height: 1.5;
}


/* body {
  font-family: 'Merriweather', serif;
}
.App-logo {
  width: 100px;
  height: 100px;
} */